*{
    // margin: 0;
    // padding: 0;
    box-sizing:border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    background-color: white;
}

.header-li {
    gap: 50px;
    width: 200px;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 500px;
    color: #939CAA;
}

img {
  margin-left: 169px;  
}

button{
    margin-right: 165px;
    width: 180px;
    height: 53px; 
    background-color: #FCB72B; 
    border-color: #FCB72B ;
    color: white; 
}